[submodule "includes/modules/payment/checkoutapipayment/CheckoutApi"]
	path = includes/modules/payment/checkoutapipayment/CheckoutApi
	url = https://github.com/CKOTech/checkout-php-library.git
	branch = CheckoutApi
